body {
  background: #f5f8fa;
}

.login {
  width: 432px;
  margin: 0 auto;
  text-align: center;
}

.header-logo {
  /* float: left; */
  /* margin: 23px 0 0; */
  background: url(http://62.76.25.114:7780/static/LoginForm/img/logo_new.png) no-repeat;
  width: 164px;
  height: 22px;
  margin: 0 auto;
}

.p.visualization {
  color: #888e9f !important;
  font-size: 12px !important;
  letter-spacing: 5px;
}
.login form {
  background: #fff;
  border: 1px solid #d0dfe8;
  box-sizing: border-box;
  padding: 49px;
  text-align: initial;
  margin-top: 20px;
}

.login form span {
  float: left;
  font-size: 20px;
  line-height: 25px;
}

.login form {
  float: right;
  margin-bottom: 15px;
}
